DATABASE_URI=mongodb://127.0.0.1/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE

NEXT_PUBLIC_VERCEL_ENV=YOUR_NEXT_PUBLIC_VERCEL_ENVIRONMENT_HERE
NEXT_PUBLIC_VERCEL_URL=YOUR_NEXT_PUBLIC_VERCEL_URL_HERE

RESEND_API_KEY=RESEND_EMAIL_API_KEY_HERE

BLOB_DEV_READ_WRITE_TOKEN=VERCEL_BLOB_DEV_API_TOKEN_HERE

COOKIE_PREFIX=HTTP_COOKIE_PREFIX_HERE